header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}
body {

    background-color: #faabab13;
    margin: 0;
    padding: 0;
}
#Info{
    font-family: sans-serif;
    margin: 1rem;
    font-size: 17px;
}


h1 {
    margin: 0;
    font-size: 44px;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
footer{
:hover
}





